@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}
#App{
    max-width: 100%;

}
.AppBar{
    background-color: mediumpurple !important;
}

.app-title{
    font-family: 'Yellowtail', cursive;
    display: flex;
    justify-content: center;
    margin: .5em 0;
}

.landingTitle {
    margin: 1.2em;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Yellowtail', cursive;
    letter-spacing: .085em;
    font-size: 2.4em;
    color: #ffbbbb;
    text-shadow: 2px 2px 1px #b68ec9;
}

.itemContainer{
    display: flex;
    margin: 1em 1.2em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product{
    width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5em 2.5em;
    font-weight: bold;
    box-shadow: 0px 0px 3px rgb(255, 209, 224);
    border-radius: 5px;
    transition: 0.5s ease all;
}

.product:hover{
    transition: 0.5s ease all;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #a7a7a7;

}

.product-title{
    color: #a7a7a7 !important;
    display: flex;
    font-size: 1.5em;
    margin: 1em 1.2em;
    justify-content: flex-start;
    font-weight: 700;
    text-align: center;
}

.item-list{
    color: #a7a7a7;
    font-weight: 600;
    display: flex;
    margin: 0 auto;
    
}
.product-count{
    text-align: center;
}
.decrease, .increase{
    color: #a7a7a7;
    border-radius: 40%;
    border: 0px solid transparent;
    margin: 10.5px 3px;
    padding: 1.5px 6px;
    cursor: pointer;
    transition: all .15s ease;
}

.decrease:active, .increase:active{
    background-color: #616060;
    transition: all .15s ease;
    color: white;
}

.counter{
    color: #a7a7a7;
    font-size: .8em;
    padding: 0 8px;
}
.stock{
    margin: auto;
    font-size: .9em;
}
.product-image-container{
    width:280px;
    height: 200px;
    margin: 1em auto;
}

.product-image{
    width:280px;
    height: 200px;
    border-radius: 5px;
    transition: 0.5s ease all;
}
.product-image{
    cursor: pointer;
}
.product-image:active{
    transition: 0.5s ease all;
    transform: scale(1.8)
}
.product-details{
    margin: 0 .5em;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}
.loading-prompt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40vh;
    font-size:2em;
    color: mediumpurple;
}

.selectedItemContainer{
    /* border: 2px solid #b68ec9; */
    min-width: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 90%;
    flex-direction: column;
}
.selectedItem{
    margin: .4em 5em;
}
.selectItemBtn{
    border: none;
    width: 200px;
    height: 2em;
    border-radius: 1em;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    transition: all .15s ease;
}
.selectItemBtn:active{
    background: #616060;
    color: white;
}