@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap'); 

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    
}
#App{
    max-width: 100%;

}
.Appbar{
    width: 100%;
    height: 80px;
    background-color: mediumpurple !important;
    position: fixed !important;
    top: 0;
    z-index: 100;
}

#basic-navbar-nav{
    margin: 1em 0;
}
#root > nav > div > button{
    border: none;
}
#Appbar-item {
    color: white !important;
}

#basic-nav-dropdown{
    color: white !important;
}

.logo{
    width: 50px
}

.shopping-bag-icon{
    width: 30px;
}

.landing-page{
    margin-top: 120px
}

.app-title{
    display: none;
    font-size: 2em;
    font-weight: 700;
    /* display: flex; */
    justify-content: center;
    margin: .5em 0;
}

.landingTitle {
    margin: 1.2em;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Yellowtail', cursive;
    letter-spacing: .085em;
    font-size: 2.4em;
    color: #ffbbbb;
    text-shadow: 2px 2px 1px #b68ec9;
}

.itemContainer{
    display: flex;
    margin: 1em 1.2em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product{
    width: 320px;
    height: 480;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em 2.5em;
    font-weight: bold;
    box-shadow: 0px 0px 3px rgb(255, 209, 224);
    border-radius: 5px;
    transition: 0.5s ease all;
}

.product:hover{
    transition: 0.5s ease all;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #a7a7a7;

}

.product-title{
    color: #a7a7a7 !important;
    display: flex;
    font-size: 1.5em;
    margin: 1em 1.2em;
    justify-content: flex-start;
    font-weight: 700;
    text-align: center;
}
.item-detail{
    width: 75vw;
    margin: 20vh auto;
    display: flex;
    max-width: 1200px;
    box-shadow: .1px .1px 6px rgb(206, 206, 206);
    border-radius: 5px;
    flex-wrap: wrap;
}

.item-list{
    color: #a7a7a7;
    font-weight: 600;
    display: flex;
    margin: 1em auto;
}
.item-title{
    font-size: 1.5em;
    color: #4b4a4a;
}

.item-left-container{
    margin:0.5em 2.5em;
}
.item-right-container{
    align-items: flex-end;
    margin: 0.5em 2.5em;
}

.product-count{
    text-align: flex-start;
    justify-content:center;
    padding: 1em 0; 
}
.product-count-landing{
    margin: 0 auto;
}

.item-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.counter-container{
    display: flex;
}

.add-to-bag-btn{
    margin: 1em 2em;
}
.see-details-btn{
    margin: 1em auto;
}
.decrease, .increase{
    color: #3a3333;
    border-radius: 40%;
    border: 0px solid transparent;
    margin: 10.5px 3px;
    padding: .1px 7px;
    cursor: pointer;
    transition: all .15s ease;
}

.decrease:active, .increase:active{
    background-color: #616060;
    transition: all .15s ease;
    color: white;
}

.counter{
    display: flex;
    align-items: center;
    color: #2b2727;
    font-size: .8em;
    padding: 0 8px;
}
.stock{
    margin: auto;
    font-size: .9em;
}
.product-image-container{
    width:280px;
    height: 200px;
    margin: 1em auto;
}

.product-image{
    width:280px;
    height: 200px;
    border-radius: 5px;
    transition: 0.5s ease all;
}
.product-image{
    cursor: pointer;
}
.product-image:active{
    transition: 0.5s ease all;
    transform: scale(1.8)
}
.product-details{
    margin: 0 .5em;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}
.loading-prompt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40vh;
    font-size:2em;
    color: mediumpurple;
}

.selectedItemContainer, .selectedItemContainerDetail{
    min-width: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: -46px 90%;
    flex-direction: column;
}
.selectedItemContainerDetail{
    
    display: flex;
    flex-direction: row;
    margin: 2em;
}
.DetailRightSideContainer{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: #a7a7a7;
}

.selectedItem, .selectedItemDetail{
    margin: 0.4em 5em;

}
.selectedNameDetail{
    font-size: 1.5em;
    margin: 2em 3.5em;
    margin-left: 80px;
}
.selectedItemDetail{
    justify-content: flex-end;
}
.product-image-detail{
    width: 120%;
    height: 120%;;
}

.selectItemBtn{
    text-decoration: none;
    background: #dfdede;
    color: #333333;
    border: none;
    width: 200px;
    height: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .15s ease;
    box-shadow: .1px .1px 2px #dfdede;

}
.selectItemBtn:active{
    background: #4b4a4a !important;
    color: white !important;
    box-shadow: .1px .1px .1px #eee;
}

.selectItemBtn:hover{
    background: #b4b3b3;
    color: #ffffff;
}
.Extra{
    width: 20%;
}
.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30vh 0;
    padding: 0 150px 
}

.not-found-title{
    font-size: 2em
}

.not-found-subtitle{
    font-size: 1.4em;
    padding: 1em 0;
}
.not-found-message{
    font-size: .9em
}

.loading-prompt{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35vh auto;
}
.loading{
    width: 250px;
}
.not-found-redirect{
    text-decoration: none;
    color: mediumpurple;
    font-size: 1em;
    border: 2px solid mediumpurple;
    border-radius:50px;
    padding: 2px 8px;
    margin: 1em 0;
}
.not-found-redirect:hover{
    color: #baa2eb;
    border: 2px solid #baa2eb;
}
.not-found-redirect:active{
    color: #6e46be;
    border: 2px solid #6e46be;

}

.cart-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45vh auto;
    font-size: 2.5em;
}

.cart-items{
    top: 500px;
    width: 70%;
    min-height: 200px;
    display: flex;
    margin: 8em auto;
    color: #a7a7a7;
    box-shadow: 0.1px 0.1px 6px #cecece;
    border-radius: 5px;
}
.cart-item {
    margin: 1em 2em;
}
.cart-item-title{
    font-size: 1.5em;
    font-weight: 600;   
}

.cart-item-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.remove-cart-item{
    margin: 0 2em;
    border: none;
    background: transparent;
}

.first-header-container{
    margin-top: 80px;
    width: 100%;
    display: flex;
}
.first-header-video{
    top: 80px;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    margin-left: -20px;
}

.first-header-text{
    color: linen;
    margin:  auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-shadow: .2px .2px .5px rgb(124, 123, 123);
}

.front-first-header{
    color: white;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 30vh auto;
}
.header-link{
    text-decoration: none;
    color: mediumpurple;
    font-size: 1.5em;
    padding: 2em;
}

.header-link:hover{
    color: white
}

.first-header-text-secondary{
    font-style: italic;
}
.first-header-text-third{
    font-weight: 500;
}