@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
}
.AppBar{
    background-color: mediumpurple !important;

}
.landingTitle {
    width: 100%;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1em 0;
    font-family: 'Staatliches', cursive;
    letter-spacing: .2em;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffbbbb;
    text-shadow: 2px 2px 1px #b68ec9;
}


.Product{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    font-weight: bold;
}

.item-list{
    color: mediumpurple;
    padding: 12px ;
}